body {
background-image:url(background.jpg);
background-repeat:repeat;
}
.header{
	background-color: rgba(20,100,250,.4);
	box-shadow: 4px 4px 4px rgba(0,0,0,.6);
	margin: auto;
}

h1 {
font-family: 'Actor', sans-serif;
font-size: 64px;
text-align: center;
}

h2 {
font-family: 'Actor', sans-serif;
font-size: 32px;
text-align: center;
}

p{
font-family: 'Actor', sans-serif;
font-size: 24px;	
text-align: center;
}

.picturecard {
width: 800px;
height: 500px;
margin: 0 auto;
background-color: rgba(100,100,150,.4);
margin-bottom: 100px;
padding-bottom: 65px;
box-shadow: 4px 4px 4px rgba(0,0,0,.6);
}

.picturecard:hover {
background-color: rgba(50,50,100,.4);
box-shadow: 4px 6px 4px rgba(0,0,0,.9);
}

img {
width: 800px;
height: 500px;
margin: auto;
}

.title {
	text-decoration: none;
	font-size: 24px;
	text-align: center;

	padding: 0px 20px;
	line-height: 20px;
	list-style-type: none;
	text-transform: uppercase;
}

.author {
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	padding: 0px 20px;
	line-height: 30px;
	list-style-type: none;
	text-transform: uppercase;
}